<div class="container" id="NuevoModificar">
    <div class="modal fade" id="ejemplarModal" tabindex="-1" aria-labelledby="ejemplarModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ejemplarModalLabel">Nuevo Ejemplar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="nuevoEjemplarForm" method="post" action="{% url 'crear_ejemplar' %}">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <span class="input-group-text">ID Ejemplar:</span>
                            <input type="text" class="form-control border border-secondary-subtle" id="ejemplar"
                                name="ejemplar" disabled>
                        </div>
                        <div class="input-group mb-3 ">
                            <span class="input-group-text">Material: </span>
                            <input class="form-control border border-secondary-subtle" list="datalistMaterialOptions"
                                id="MaterialDataList" name="material" placeholder="Ingrese o seleccione un Material...">
                            <datalist id="datalistMaterialOptions">
                                {% if material %}
                                {% for material in materiales %}
                                <option value="{{material.titulo}}"></option>
                                {% endfor %}
                                {%else%}
                                {% for material in materiales %}
                                <option value="{{material.titulo}}"></option>
                                {% endfor %}
                                {%endif%}
                            </datalist>
                        </div>
                        <div class="alert alert-success" id="message-success" style="display: none;"></div>
                        <div class="alert alert-danger" id="message-error" style="display: none;"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary" onclick="crearEjemplar()">Crear
                                Ejemplar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function clearMensajes() {
        const error_mensajes = document.getElementById('message-error');
        while (error_mensajes.firstChild && error_mensajes.children.length >= 1) {
            error_mensajes.removeChild(error_mensajes.lastChild);
        };
        const success_mensajes = document.getElementById('message-success');
        while (success_mensajes.firstChild && success_mensajes.children.length >= 1) {
            success_mensajes.removeChild(success_mensajes.lastChild);
        };
    }
    console.log(confirmAlert);
    function crearEjemplar() {

        const form = document.getElementById('nuevoEjemplarForm');
        if (!form.checkValidity()) {
            form.reportValidity();
            return;
        }
        if (!confirmAlert) {
            document.getElementById('message-error').textContent = 'Presione nuevamente "Crear Ejemplar" para confirmar';
            document.getElementById('message-error').style.display = 'block';
            confirmAlert = true;
            return;
        }
        const formData = new FormData(form);

        fetch(form.action, {
            method: 'POST',
            body: formData,
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
        })
            .then(response => {
                if (!response.ok) {
                    return response.text().then(text => { throw new Error(text) });
                }
                console.log(response)
                return response.json();
            })
            .then(data => {
                if (data.success) {
                    console.log(data.success);
                    console.log(data.message);
                    clearMensajes();
                    document.getElementById('message-success').textContent = data.message;
                    document.getElementById('message-success').style.display = 'block';
                    document.getElementById('ejemplar').value = data.ejemplarID;
                    confirmAlert = false;
                } else {                    
                    console.log(data);
                    clearMensajes();
                    document.getElementById('message-error').textContent = data.message;
                    document.getElementById('message-error').style.display = 'block';
                    confirmAlert = false;
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
</script>