{% extends 'navbar.html' %}
{% block title %} Lista de Prestamos{% endblock %}
{% block content %}
<div class="container-fluid">
  <br />
  <div class="row">
    <div class="col-12">
      <form method="get" action="{% url 'listar_prestamos' %}">
        <div class="input-group mb-3">
          <input type="text" name="query" class="form-control" placeholder="Buscar material..." value="{{ query }}" />
          <button class="btn btn-outline-secondary" type="submit">Buscar</button>
        </div>
      </form>
    </div>
  </div>
  {% if user.role == 1 or user.role == 2%}
  <div class="col-auto">
    <button type="button" onclick="nuevoPrestamo()" class="btn btn-primary" data-bs-toggle="modal"
      data-bs-target="#crearPrestamoModal" aria-expanded="false">Nuevo
      Prestamo
    </button>
  </div>
  {%endif%}
  <div class="row">
    <div class="col">
      {% if prestamos %}
      <table class="table table-sm table-hover table-secondary table-bordered">
        <thead class="table-secondary text-center">
          <th scope="col">Usuario</th>
          <th scope="col">Material</th>
          <th scope="col">Autor</th>
          <th scope="col">Finalizacion</th>
          <th scope="col">Accion</th>
        </thead>
        <!-- Tabla de prestamos -->
        <tbody class="table-group-divider bg-dark-subtle">
          {% for prestamo in prestamos %}
          <tr>
            <td>{{ prestamo.owner.email }}</td>
            <td>{{ prestamo.ejemplar.material.titulo}}

            </td>
            <td>
              <p>
                {% for autor in prestamo.ejemplar.material.autor %}
                {{ autor.nombre }} {{autor.apellido }}.
                {% endfor %}
              </p>
            </td>

            {% if prestamo.estado == 'Finalizado'%}
            <td class="table-danger">{{prestamo.estado}}</td>

            {%else %}
            <td>

              {{prestamo.fecha_fin}}
            </td>
            {%endif%}

            <td class="text-center">
              {% if user.role != 1 %}
              <!-- Acciones para usuario -->
              <div class="btn-group">
                <button class="btn btn-secondary" type="button" href="#"
                  onclick="window.location='{% url 'detalle_prestamo' prestamo.id %}';">
                  Ver
                </button>
              </div>
              {% else %}
              <!-- Acciones para admin  -->
              <div class="btn-group">
                {%if prestamo.estado != 'Finalizado' %}
                <button class="btn btn-secondary" type="button" href="#" data-bs-toggle="modal"
                  data-bs-target="#finalizarPrestamoModal" onclick="finalizarPrestamoModal('{{prestamo.id}}')">
                  Finalizar prestamo
                </button>
                {% else %}
                <button class="btn btn-secondary" type="button" href="#">
                  Accion
                </button>
                {%endif%}
                <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
                  data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
                  <span class="visually-hidden">Toggle Dropdown</span>
                  <ul class="dropdown-menu ">
                    <li><a class="dropdown-item" href="#"
                        onclick="window.location='{% url 'detalle_prestamo' prestamo.id %}';">Detalles del prestamo</a>
                    </li>
                  </ul>
              </div>
              {% endif %}

            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <div class="alert alert-danger" role="alert">No se encontraron coincidencias</div>
      {% endif %}
      <div class="pagination">
        <span class="step-links">
          {% if page_obj.has_previous %}
          <a href="?query={{ query }}&page=1">inicio</a>
          <a href="?query={{ query }}&page={{ page_obj.previous_page_number }}">anterior</a>
          {% endif %}

          <span class="current">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
          </span>

          {% if page_obj.has_next %}
          <a href="?query={{ query }}&page={{ page_obj.next_page_number }}">siguiente ></a>
          <a href="?query={{ query }}&page={{ page_obj.paginator.num_pages }}">ultima >></a>
          {% endif %}
        </span>
      </div>
      <br />

    </div>
  </div>

</div>

{% include 'prestamos/finalizar_prestamo.html' %}
{% include 'ejemplares/entregar_ejemplar.html' %}

{% endblock %}