Django>=4.2,<5.0
asgiref>=3.6.0,<4
channels>=4.1.0
channels_redis>=4.2.0
daphne>=3.0.0

django-cors-headers==3.13.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
pycodestyle==2.9.1
psycopg2-binary==2.9.6
gunicorn==21.2.0
django_filter==23.4
faker==20.1.0
drf_nested_routers==0.93.4
dj-database-url==0.5.0
python-decouple==3.5
reportlab==4.2.2
weasyprint==52.5
autopep8==2.0.0
 watchfiles==0.23.0