<div class="container" id="NuevoModificar">
    <!-- Modal para nuevo/editar ejemplar -->
    <div class="modal fade" id="ejemplarModal" tabindex="-1" aria-labelledby="ejemplarModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <h5 class="modal-title" id="ejemplarModalLabel">
                    Nuevo Ejemplar
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="
                "></form>

            </div>

        </div>

    </div>

</div>