{% extends 'navbar.html' %}
{% block title %} Lista de Reservas{% endblock %}
{% block content %}
<div class="container-fluid">
  {% csrf_token %}
  <br />
  <div class="row">
    <div class="col-12">
      <form method="get" action="{% url 'listar_reservas' %}">
        <div class="input-group mb-3">
          <input type="text" name="query" class="form-control" placeholder="Buscar reserva..." value="{{ query }}" />
          <button class="btn btn-outline-secondary" type="submit">Buscar</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col">
      {% if reservas %}
      <table class="table table-sm table-hover table-secondary table-bordered">
        <thead class="table-secondary text-center">
          <th scope="col">Usuario</th>
          <th scope="col">Titulo</th>
          <th scope="col">Autor</th>
          <th scope="col">Finalización</th>
          <th scope="col">Accion</th>
        </thead>
        <!-- Tabla de reservas -->
        <tbody class="table-group-divider bg-dark-subtle">
          {% for reserva in reservas %}
          <tr>
            <td>
              {{ reserva.owner.email}}            
              
            </td>
            <td>{{ reserva.material.titulo }}</td>
            <td>
              <p>
                {% for autor in reserva.material.autor %}
                {{ autor.nombre }} {{autor.apellido }}.
                {% endfor %}
              </p>
            </td>
            {% if reserva.estado == "Finalizada" or not reserva.fecha_fin %}
            <td class="table-danger">{{reserva.estado}}</td>
            {% else %}
            <td>{{ reserva.fecha_fin}}</td>
            {% endif %}
            <td class="text-center">
              {% if user.role != 1 and user.rol%}
              <!-- Acciones para usuario -->
              <div class="btn-group">
                {%if reserva.estado != "Finalizada" and reserva.owner.email == user.email %}
                <button class="btn btn-secondary" type="button" href="#" data-bs-toggle="modal"
                  data-bs-target="#cancelarReservaModal" onclick="cancelarReservarModal('{{reserva.id}}')">
                  Cancelar reserva
                </button>
                {%endif%}
              </div>
              {% else %}
              <!-- Acciones para admin  -->
              {% if reserva.estado != "Finalizada" and reserva.fecha_fin %}
              <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
                data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
                <span class="visually-hidden">Toggle Dropdown</span>
                <ul class="dropdown-menu ">
                  <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#crearPrestamoModal" onclick="reservaEntregarEjemplar('{{reserva.id}}')">Entregar ejemplar</a></li>
                </ul>
                {%endif%}
    </div>
    {% endif %}

    </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    {% else %}
    <div class="alert alert-danger" role="alert">No se encontraron coincidencias</div>
    {% endif %}
    <div class="pagination">
      <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?query={{ query }}&page=1">inicio</a>
        <a href="?query={{ query }}&page={{ page_obj.previous_page_number }}">anterior</a>
        {% endif %}

        <span class="current">
          Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?query={{ query }}&page={{ page_obj.next_page_number }}">siguiente ></a>
        <a href="?query={{ query }}&page={{ page_obj.paginator.num_pages }}">ultima >></a>
        {% endif %}
      </span>
    </div>
    <br />

  </div>
</div>

</div>
{% include 'reservas/cancelar_reserva.html' %}
{% include 'ejemplares/entregar_ejemplar.html' %}
{% endblock %}