{% extends 'navbar.html' %}
{% block title %} Detalle de cuota {%endblock%}

{%block content%}
<div class="container">
    <div class="row justify-content-between mb-3">
        <div class="col-auto">
            <a onclick="window.location='{% url 'listar_cuotas' %}';" class="btn btn-primary">Volver a la lista</a>
        </div>
        {% if user.role == 1 or user.role == 4%}
        <div class="col-auto">
            <div class="dropdown">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">Accion
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" href="{% url 'imprimir_comprobante' cuota.id %}"
                            target="_blank">Imprimir
                            comprobante</a>
                    </li>
                </ul>
            </div>
        </div>
        {%endif%}


    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 col-sm-12">
                <h3 class="text-center">Detalles de cuota</h3>
                <div class="row">
                    <div class="col-6 border border-black text-center text-wrap">Transaccion Nº:</div>
                    <div class="col-6 border border-black text-wrap">{{ cuota.id }}</div>

                    <div class="col-6 border border-black text-center text-wrap">Usuario ID:</div>
                    <div class="col-6 border border-black text-wrap">{{ cuota.owner.id }}</div>

                    <div class="col-6 border border-black text-center text-wrap">Usuario E-mail:</div>
                    <div class="col-6 border border-black text-wrap">{{ cuota.owner.email }}</div>

                    <div class="col-6 border border-black text-center text-wrap">Fecha de cobro:</div>
                    <div class="col-6 border border-black text-wrap">{{ cuota.fecha_format }}</div>

                    <div class="col-6 border border-black text-center text-wrap">Monto:</div>
                    <div class="col-6 border border-black text-wrap">${{ cuota.monto }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}