{% extends 'navbar.html' %}
{% block title %} Lista de cuotas{% endblock %}
{% block content %}
<div class="container-fluid">
    {% csrf_token %}
    <br />
    <div class="row">
        <div class="col-12">
            <form method="get" action="{% url 'listar_cuotas' %}">
                <div class="input-group mb-3">
                    <input type="text" name="query" class="form-control" placeholder="Buscar pago..."
                        value="{{ query }}" />
                    <button class="btn btn-outline-secondary" type="submit">Buscar</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-auto">
        <button type="button" class="btn btn-primary" aria-expanded="false" data-bs-toggle="modal"
            data-bs-target="#crearPagoModal" onclick="nuevoPago()">Nuevo
            Pago
        </button>
    </div>
    <div class="row">
        <div class="col">
            {% if cuotas %}
            <table class="table table-sm table-hover table-secondary table-bordered">
                <thead class="table-secondary text-center">
                    <th scope="col">Id</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Tesorero</th>
                    <th scope="col">Monto</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Accion</th>
                </thead>
                <!-- Tabla de cuotas -->
                <tbody class="table-group-divider bg-dark-subtle">
                    {% for cuota in cuotas %}
                    <tr>
                        <td>
                            {{cuota.id}}
                        </td>
                        <td>
                            {{ cuota.owner.email}}

                        </td>
                        <td>{{ cuota.created_by.email }}</td>
                        <td>
                            ${{cuota.monto}}
                        </td>
                        <td>
                            {{cuota.fecha}}
                        </td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn btn-secondary dropdown-toggle"
                                    data-bs-toggle="dropdown" aria-expanded="false">Accion
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="{%url 'detalle_cuota' cuota.id %}">Detalles del
                                            pago</a>
                                        <a class="dropdown-item" href="{% url 'imprimir_comprobante' cuota.id %}"
                                            target="_blank">Imprimir
                                            comprobante</a>
                                    </li>
                                </ul>
                            </div>
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="alert alert-danger" role="alert">No se encontraron coincidencias</div>
            {% endif %}
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                    <a href="?query={{ query }}&page=1">inicio</a>
                    <a href="?query={{ query }}&page={{ page_obj.previous_page_number }}">anterior</a>
                    {% endif %}

                    <span class="current">
                        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                    <a href="?query={{ query }}&page={{ page_obj.next_page_number }}">siguiente ></a>
                    <a href="?query={{ query }}&page={{ page_obj.paginator.num_pages }}">ultima >></a>
                    {% endif %}
                </span>
            </div>
            <br />

        </div>
    </div>

</div>
{% include 'facturacion/nuevo_pago.html' %}
{% endblock %}