{% extends 'navbar.html' %} {% block title %} Registrarse {% endblock %} {% block content %}
<div class="container text-center">
  <br />
  <div class="container-fluid">
    <div>

      {% if error_messages %}
      <p class="alert alert-danger">Error al registrarse</p>
      <div class="alert alert-danger" role="alert">
        {% for message in error_messages %}
        <p>{{ message }}</p>
        {% endfor %}
      </div>
      {% else %}
      <svg xmlns="http://www.w3.org/2000/svg" width="68" height="68" fill="currentColor" class="bi bi-person-fill-add"
        viewBox="0 0 16 16">
        <path
          d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
        <path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4" />
      </svg>
      <h3>Registrarse</h3>
      {% endif %}
    </div>
    <div class="container-fluid">
      <div class="row">

        <form method="post" action="{% url 'register' %}" class="rounded-4 bg-dark-subtle text-light-emphasis">
          {% csrf_token %}
          <div>
            <div class="row">
              <div class="col"></div>
              <div class="col-8">

                <label class="col-form-label" for="id_first_name">Nombre:</label>
                <input type="text" id="id_first_name" name="first_name" class="form-control" required />
              </div>
              <div class="col"></div>
            </div>
          </div>
          <div>
            <div class="row">
              <div class="col"></div>
              <div class="col-8">
                <label class="col-form-label" for="id_last_name">Apellido:</label>
                <input type="text" class="form-control" id="id_last_name" name="last_name" required />

              </div>
              <div class="col"></div>
            </div>
          </div>
          <div>
            <div class="row">
              <div class="col"></div>
              <div class="col-8">

                <label class="col-form-label" for="id_email">Email:</label>
                <input type="text" id="id_email" name="email" class="form-control" required />
              </div>
              <div class="col"></div>
            </div>
          </div>
          <div>
            <div class="row">
              <div class="col"></div>
              <div class="col-8">

                <label class="col-form-label" for="id_password">Contraseña:</label>
                <input type="password" id="id_password" name="password" class="form-control" required />
              </div>
              <div class="col"></div>
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Registrarse</button>
            <button type="button" class="btn btn-secondary">Volver</button>
          </div>
          
          <br />
        </form>


        <br />
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>

{% endblock %}