{% extends "navbar.html" %}

{% block title %} Mi perfil {% endblock %}

{% block content %}
<div class="container">
    <br />
    <div class="row">
        <div class="col-12 ">

        </div>
        <div class="col text-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="156" height="156" fill="currentColor"
                class="bi bi-person-square" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                <path
                    d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z" />
            </svg>
            <br />
            <br />

            <p class="fw-semibold">Rol: {{ user.role }}</p>
        </div>
        <div class="col-9">
            <br />

            <ul class="list-group">
                {% if user.first_name %}
                <li class="list-group-item">
                    <p class="fw-semibold">Nombre: {{ user.first_name }}</p>
                </li>
                {% endif %}
                {% if user.last_name %}
                <li class="list-group-item">
                    <p class="fw-semibold">Apellido: {{ user.last_name }}</p>
                </li>
                {% endif %}
                <li class="list-group-item">
                    <p class="fw-semibold">DNI: {{ user.dni }}</p>
                </li>
                <li class="list-group-item">
                    <p class="fw-semibold">E-mail: {{ user.email }}</p>
                </li>
                {% if user.role == 1 or user.role == 2 %}
                <li class="list-group-item">
                    <p class="fw-semibold">Rol: {{ user.role }}</p>                    
                </li>
                {% endif %}
                <li class="list-group-item">
                    <p class="fw-semibold">Reservas: {{ user_profile.cantidad_reservas }} <a href="/movimientos/mis_reservas/"> -> Ir</a></p>
                </li>
                <li class="list-group-item">
                    <p class="fw-semibold">Prestamos: {{ user_profile.cantidad_prestamos }}. <a href="/movimientos/mis_prestamos/"> -> Ir</a></p>
                    
                </li>
            </ul>            

        </div>
    </div>
</div>
{% endblock %}