<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="nav-link" href="/" role="button">
            Materiales
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'listar_ejemplares' %}" role="button">
            Ejemplares
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'listar_reservas' %}" role="button">
            Reservas
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'listar_prestamos' %}" role="button">
            Prestamos
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'listar_usuarios'%}" role="button">
            Usuarios
        </a>
    </li>

</ul>