<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
    {% if user.role == 1 or user.role == 2%}
    <li class="nav-item dropdown">
        <button class="btn border border-secondary-subtle dropdown-toggle" type="button" id="materialesDropdown"
            data-bs-toggle="dropdown" aria-expanded="false">
            Materiales
        </button>
        <ul class="dropdown-menu" aria-labelledby="materialesDropdown">
            <li><a class="dropdown-item" href="/"><b>Listar materiales</b></a></li>
            <li><a class="dropdown-item" href="{% url 'listar_ejemplares'%}"><b>Ejemplares</b></a></li>
            <li><a class="dropdown-item" href="#">Autores</a></li>
            <li><a class="dropdown-item" href="{% url 'listar_generos'%}">Generos</a></li>
            <li><a class="dropdown-item" href="{% url 'listar_carreras'%}">Carreras</a></li>
            <li><a class="dropdown-item" href="{% url 'listar_editoriales'%}">Editoriales</a></li>
            <li><a class="dropdown-item" href="{% url 'listar_tipos'%}">Tipos</a></li>
        </ul>
    </li>        
    <li class="nav-item">
        <a class="nav-link" href="{% url 'listar_reservas' %}" role="button">
            Reservas
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'listar_prestamos' %}" role="button">
            Prestamos
        </a>
    </li>
    {%endif%}
    {% if user.role == 1 or user.role == 4%}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'listar_usuarios'%}" role="button">
            Usuarios
        </a>

    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'listar_cuotas'%}" role="button">
            Facturacion
        </a>

    </li>
    {% endif %}

</ul>