{% extends 'base.html' %}

{% block navbar %}
<nav class="navbar navbar-expand-lg bg-dark-subtle rounded-2 border-bottom border-body"
  style="background-color: #e3f2fd;">  
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'listar_materiales'  %}">
      <img src="https://w7.pngwing.com/pngs/560/655/png-transparent-utn-hd-logo.png" width="28" height="28"
        class="img-fluid">
      Sys-bib
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      {% include 'actions/userNav.html'%}
    </div>

  </div>
</nav>
{% if user.role == 1 or user.role == 2 or user.role == 4%}
<nav class="navbar navbar-expand-lg bg-dark-subtle rounded-2 border-bottom border-body"
  style="background-color: #e3f2fd;">
  <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
    {% include 'actions/adminNav.html' %}
  </div>

</nav>
{% endif %}




{% block content %}

{% endblock %}
{% endblock %}
